.react-reveal {
    opacity: 0;
    padding: 0;
    margin: 0px;
}
.project{
    
        display: flex;
        flex-wrap: wrap;
        margin-left: 140px;
    
    
}

.title{
    text-align: center;
}

.project-content{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: auto;

}

.button-code{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 13px 35px;
    border-radius: 6px;
    list-style: none;
    margin-top: 25px;
    transition:  ease-in-out;

    &:hover{
        background-color: rgb(80, 80, 80);
    }
}

.contentText p {
    margin-bottom: 20px;
}

.contentTextButton{
    margin-top: 40px;
}

.maquette-content{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    height: 100vh;
    height: auto;
    width: 100%;
    margin: auto;
}

.project h2{
    
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
   

}

.contentIMGIMGIOS{
    border-radius: 30px;
    width: 70%;
    height: auto;
    margin: auto;
    max-width:300px;
    padding: 50px;
    display: block;

}



.contentIMGIMG{
    margin: auto;
    max-width: 400px;
    height: auto;
    width: -webkit-fill-available;
    display: block;
    padding: 50px;
}




.content1{
    display: flex;
    flex-wrap: wrap;
        width: 100%;
        margin: 30px;
        color: white;
        font-family: 'Abel', sans-serif;
        font-size: 1.4rem;
        border-bottom: solid white 1px;
        padding: 10px;
    }

.contentText{
    height: auto;
width: 50%;
margin: auto;
align-self: center;
}

.contentImg {
    width: 50%;
    
}




.content-content1{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 100%;
}

.content-carrousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 100%;

}


@media only screen and (max-width:1024px) { 
 
    .contentIMGIMG {
        height: auto;
        min-width: 238px;
        margin-top: 70px;
        /* margin-right: 29px; */
        padding: 0px;
    }
    /* CSS rules here */
}
    
    

@media only screen and (max-width:770px) { 
    /* CSS rules here */
   
    
    
    .project{
    
        height:auto;
            margin: auto;
            /* font-size: 0px; */
            display: contents;

    
}

    .project-content{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: 70px;
        margin-left: 100px;
    
    }

    .contentImg {
        width: 100%;
        
    }

    .contentIMGIMG {
        height: auto;
        min-width: 238px;
        margin-top: 70px;
        /* margin-right: 29px; */
        padding: 0px;
        
    }

    .contentIMGIMGIOS {
        height: auto;
        margin-top: 60px;
        margin-left: 0px;
    }

    .content-carrousel{

        min-width: 350px;
    width: 100%;
    }

    .content-content1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

.content1{
    display: flex;
    flex-wrap: wrap;
        width: 100%;
        margin: 30px;
        color: white;
        font-family: 'Abel', sans-serif;
        font-size: 1.4rem;
        border-bottom: solid 1px white;
    }

    .contentText {
        height: auto;
        /* margin: auto; */
        width: 100%;
        /* margin: 21px; */
        text-align: center;
    }

    .maquette-content{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: center;
        height: 500px;
        margin: auto;
    }

    .particle{
        display: none;
    }
}

@media only screen and (max-width:480px) { 
    /* CSS rules here */
   
    
    
    .project{
    
        height:auto;
            margin: auto;
            /* font-size: 0px; */
            display: contents;

    
}

    .project-content{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    
    }

    .contentImg {
        width: 100%;
        
    }

    .contentIMGIMG {
        max-width: 200px;
        height: auto;
        min-width: 238px;
        margin-top: 70px;
        /* margin-right: 29px; */
        padding: 0px;
    }

    .contentIMGIMGIOS {
        max-width: 200px;
        height: auto;
        margin-top: 60px;
        margin-left: 0px;
    }

    .content-carrousel{

        min-width: 350px;
    width: 100%;
    }

    .content-content1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

.content1{
    display: flex;
    flex-wrap: wrap;
        width: 100%;
        margin: 30px;
        color: white;
        font-family: 'Abel', sans-serif;
        font-size: 1.4rem;
        border-bottom: solid 1px white;
    }

    .contentText {
        height: auto;
        /* margin: auto; */
        width: 100%;
        /* margin: 21px; */
        text-align: center;
    }

    .maquette-content{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-content: center;
        height: 500px;
        margin: auto;
    }

    .particle{
        display: none;
    }
}
